<header class="lede">
  <div class="art scanlines">
    <img src="/img/boxart-header.png">
  </div>
  <div class="title">
    <div class="title-copy">
      <h1 class="hed"><a href="/">Boxart</a></h1>
      <p class="vers"><span class="a11y-only">Version</span>0.0.1</p>
      <p class="subhed">JavaScript<br>System</p>
    </div>
  </div>
  <a class="seal" href="https://bocoup.com"><img src="/img/bocoup-seal-sm.png" alt="Original Bocoup Seal of Quality"></a>
</header>
<nav class="nav-blocks">
{% for p in site.pages %}
  {% if p.categories == 'mainpage' %}
    <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">{{ p.title }}</a>
  {% endif %}
{% endfor %}
</nav>
