.full-viewport-scroll {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}

.full-viewport-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.landscape {
    bottom: -100vh;
  }
}

.full-viewport {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;

  .full-viewport-container.landscape & {
    bottom: 100vh;
  }
}
