.screen {
  width: 100%;
  height: 100%;
}

.board {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ccc;
}

.bar {
  font-family: Verdana, arial;
  font-size: 11.5vh;
}

@media (max-aspect-ratio: 24/17) {
  .bar {
    font-size: 8.15vw;
  }
}

.score {
  display: inline-block;
  float: right;
  margin: 0 0.4em;
}

.reset {
  display: inline-block;
  float: left;
  transform: rotateZ(90deg);
  margin: 0 0.4em;
}

.win-screen {
  z-index: 2;

  font-family: Verdana, arial;
  font-size: 11.5vh;
}

@media (max-aspect-ratio: 24/17) {
  .win-screen {
    font-size: 8.15vw;
  }
}

.win-screen-button {
  cursor: pointer;
}

tile-background($color) {
  .png & {
    background: no-repeat center/100% url('images/tilegame_' + $color + '_1500w.png');
    @media (max-height: 3016px) {
      background: no-repeat center/100% url('images/tilegame_' + $color + '_750w.png');
    }
    @media (max-height: 1458px) {
      background: no-repeat center/100% url('images/tilegame_' + $color + '_325w.png');
    }
    @media (max-height: 729px) {
      background: no-repeat center/100% url('images/tilegame_' + $color + '_162w.png');
    }
    @media (max-height: 364px) {
      background: no-repeat center/100% url('images/tilegame_' + $color + '_81w.png');
    }
  }
  .webp & {
    background: no-repeat center/100% url('images/tilegame_' + $color + '_1500w.webp');
    @media (max-height: 3016px) {
      background: no-repeat center/100% url('images/tilegame_' + $color + '_750w.webp');
    }
    @media (max-height: 1458px) {
      background: no-repeat center/100% url('images/tilegame_' + $color + '_325w.webp');
    }
    @media (max-height: 729px) {
      background: no-repeat center/100% url('images/tilegame_' + $color + '_162w.webp');
    }
    @media (max-height: 364px) {
      background: no-repeat center/100% url('images/tilegame_' + $color + '_81w.webp');
    }
  }
}

for $color in ('blue' 'green' 'purple' 'red') {
  .tile-{$color} {
    tile-background($color);
  }
}
