.preview {
  position: relative;
  background: lighten(gray, 20%);
  flex: 1 1 auto;
  width: 100%;
  height: 300px;
}

.preview-sub {
  position: absolute;
  overflow: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
