.preview-controls {
  background: darken(gray, 20%);
  flex: 0 0 auto;
  font-size: 1.5em;
  padding: 0.75em;
  user-select: none;
}

.preview-controls-play,
.preview-controls-pause,
.preview-controls-forward,
.preview-controls-backward {
  cursor: pointer;
}

.preview-controls-play-active {
  color: white;
}

.preview-controls-pause-active {
  color: white;
}
