{
  "extends": [
    "../eslint/eslint-defaults.json",
    "../eslint/eslint-jsx.json"
  ],
  "env": {
    "browser": true,
    "mocha": true
  },
  "globals": {
    "expect": false
  },
  "rules": {
    // expect assertions are commonly unused
    "no-unused-expressions": 0
  }
}
