.glitch {
  position: relative;
  margin: 0 auto;
}

.glitch:before,
.glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch::before {
  left: 2px;
  text-shadow: -1px 0 red;
  background: inherit;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim-1 2s infinite linear alternate-reverse;
  -webkit-animation: glitch-anim-1 2s infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-outline: -1px solid blue;
  background: inherit;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim-2 2s infinite linear alternate-reverse;
  -webkit-animation: glitch-anim-2 2s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim-1 {
  0% {
    clip: rect(52px, 999px, 45px, 0);
  }
  10% {
    clip: rect(52px, 999px, 47px, 0);
  }
  20% {
    clip: rect(53px, 999px, 94px, 0);
  }
  30% {
    clip: rect(68px, 999px, 94px, 0);
  }
  40% {
    clip: rect(73px, 999px, 96px, 0);
  }
  50% {
    clip: rect(89px, 999px, 43px, 0);
  }
  60% {
    clip: rect(14px, 999px, 99px, 0);
  }
  70% {
    clip: rect(35px, 999px, 35px, 0);
  }
  80% {
    clip: rect(44px, 999px, 75px, 0);
  }
  90% {
    clip: rect(32px, 999px, 24px, 0);
  }
  100% {
    clip: rect(50px, 999px, 30px, 0);
  }
}
@-webkit-keyframes glitch-anim-2 {
  0% {
    clip: rect(40px, 999px, 91px, 0);
  }
  10% {
    clip: rect(93px, 999px, 70px, 0);
  }
  20% {
    clip: rect(30px, 999px, 82px, 0);
  }
  30% {
    clip: rect(58px, 999px, 22px, 0);
  }
  40% {
    clip: rect(99px, 999px, 62px, 0);
  }
  50% {
    clip: rect(70px, 999px, 6px, 0);
  }
  60% {
    clip: rect(59px, 999px, 3px, 0);
  }
  70% {
    clip: rect(59px, 999px, 19px, 0);
  }
  80% {
    clip: rect(5px, 999px, 75px, 0);
  }
  90% {
    clip: rect(60px, 999px, 68px, 0);
  }
  100% {
    clip: rect(27px, 999px, 34px, 0);
  }
}


/* Scanlines */
.scanlines {
  position: relative;
  overflow: hidden;
}
.scanlines:before, .scanlines:after {
  display: block;
  pointer-events: none;
  content: '';
  position: absolute;
}
.scanlines:before {
  width: 100%;
  height: 2px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.75;
  -webkit-animation: scanline 6s linear infinite;
  animation: scanline 6s linear infinite;
}
.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: url(img/scanline.png);
  background-size: 100% 3px;
  -webkit-animation: scanlines 1s steps(60) infinite;
  animation: scanlines 1s steps(60) infinite;
}

/* ANIMATE UNIQUE SCANLINE */
@-webkit-keyframes scanline {
  0% {
    -webkit-transform: translate3d(0, 250%, 0);
    transform: translate3d(0, 250%, 0);
  }
}
@keyframes scanline {
  0% {
    -webkit-transform: translate3d(0, 20000%, 0);
    transform: translate3d(0, 20000%, 0);
  }
}
@-webkit-keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}
@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}
