/* Scanlines */
.scanlines {
  position: relative;
  overflow: hidden;
}
.scanlines:before, .scanlines:after {
  display: block;
  pointer-events: none;
  content: '';
  position: absolute;
}
.scanlines:before {
  width: 100%;
  height: 2px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0.75;
  -webkit-animation: scanline 6s linear infinite;
  animation: scanline 6s linear infinite;
}
.scanlines:after {
  top: -100%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: url(img/scanline.png);
  background-size: 100% 3px;
  transform: translateZ(0px);
  -webkit-animation: scanlines 0.5s steps(30) infinite;
  animation: scanlines 0.5s steps(30) infinite;
}

/* ANIMATE UNIQUE SCANLINE */
@-webkit-keyframes scanline {
  0% {
    -webkit-transform: translate3d(0, 250%, 0);
    transform: translate3d(0, 250%, 0);
    -webkit-transform: translate3d(0, 35vw, 0);
    transform: translate3d(0, 35vw, 0);
  }
}
@keyframes scanline {
  0% {
    -webkit-transform: translate3d(0, 20000%, 0);
    transform: translate3d(0, 20000%, 0);
    -webkit-transform: translate3d(0, 35vw, 0);
    transform: translate3d(0, 35vw, 0);
  }
}
@-webkit-keyframes scanlines {
  0% {
    transform: translate3d(0, 25%, 0);
  }
}
@keyframes scanlines {
  0% {
    transform: translate3d(0, 25%, 0);
  }
}
