body,
html {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.a11y-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.a11y-only:active,
.a11y-only:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
