.clamp-a {
  position absolute;
  display: table;
  width: 100%;
  height: 100%;
}

.clamp-b {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.clamp-c {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.clamp-d {
  position: relative;
  display: inline-block;
  vertical-align: top;
  // background: #ddd;
}

.clamp-e {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // background: #ccc;
}
